---
description: Triples that are added to the protocol are verified by verifiers.
---

# Verification

Triples that are submitted to the protocol need to be checked by verifiers who form an agreement on whether each triple should be accepted or not.

After enough verifications have been cast on a triple to pass the protocol's voting requirements, an agreement (or 'consensus vote') is reached. Verifiers who voted in the same way as the consensus vote will be rewarded with testnet points, while verifiers who voted against the consensus vote will have their testnet points slashed.\
\
Later on, verifiers who vote in the same way as the consensus will be eligible to receive revenue share in the verified triple's subject entity through an NFT.
